$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
    background-image: url('http://www.extravectors.com/Vectors/MainImages/Hands_vector2013830.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

