
<!-- Navigation -->
	<nav class="navbar navbar-default">
		<div class="row">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#/">Volunteer Sign-Up</a>
		    </div>
        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
	              <li><a href="#/openCal" id="open">Open Assignment</a></li>
	              <li><a href="#/signedupCal" id="mine" ng-click="findMySignup()">My Assignments</a></li>
	              <li><a href="#/" id="logout" ng-click="logout()">Sign Out</a></li>
            </ul>
          </div> 
      	</div>
	</nav>
	
	<!-- FullCalendar goes here!!!  -->
	<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
	
	<!-- 
	<div ui-calendar="calendarOptions" ng-model="eventSources" calendar="myCalendar">
	uiCalendarConfig.calendars.myCalendar  -->

	<!-- add board modal -->
	  <div class="modal fade" tabindex="-1" role="dialog" id="signupModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title">Your committment is appreciated</h4>
	        </div>
	        <div class="modal-body">
	          	<div>You have clicked on {{ modalTitle }} which is scheduled for {{ modalDay }} between {{ modalStart }} and {{ modalEnd }}.  This assignment will involve {{ modalDescription }}.</div>

				<div>If you would like to sign-up for this assignment, please click below.  You will recieve a confirmation of your assignment prior to your report time.</div>

				<div>As a thank you for you time and talent, we will present you with a t-shirt when you report for your assignment.  Please indicate you size:</div>
 	          <div>
	 	        <select ng-model="size"> 
	  				<option value="small">S</option>
	 			    <option value="medium">M</option>
	  				<option value="large">L</option>
	 				<option value="xlarge">XL</option>
				</select>
	 	      </div>
 	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary" ng-click="confirmSignUp()">Yes, sign me up!</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Nope, this doesn't work.</button>
	        </div>
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
