<!-- Navigation -->
	<nav class="navbar navbar-default">
		<div class="row">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#/">Volunteer Sign-Up</a>
		    </div>
        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
	              <li><a href="#/openCal" id="open">Open Assignment</a></li>
	              <li><a href="#/signedupCAl" id="mine">My Assignments</a></li>
	              <li><a href="#/" id="logout" ng-click="logout()">Sign Out</a></li>
            </ul>
          </div> 
      	</div>
	</nav>
	
	<!-- FullCalendar goes here!!!  -->
	<!-- <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div> -->
	<div id="calendar" ng-model="eventSources" ui-calendar="uiConfig.calendar"></div>
