<!-- Navigation -->
	<nav class="navbar navbar-default">
		<div class="row">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#/">ADMIN - ALL ASSIGNMENTS</a>
		    </div>
        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
	              <li><a href="#/addEvents" id="open">Open Assignments</a></li>
	              <li><a href="#/filledAssign" id="filled">Filled Assignments</a></li>
	              <li><a href="#/addEvents" id="all">All Assignments</a></li>
	              <li><a href="#/" id="logout" ng-click="logout()">Sign Out</a></li>
            </ul>
          </div>
      	</div>
	</nav>

  <!-- FullCalendar goes here!!!  -->
  <div id="addCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

  <!-- add board modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Please enter all data to create a new assignment</h4>
        </div>
        <div class="modal-body">
          <form name="addForm" novalidate>
            <div>
              <label for="start-time">Start Time:  </label><input type="time" name="startTime" ng-model="startTime" required=""/>
              <div ng-show="addForm.$submitted || addForm.startTime.$touched">
                <span ng-show="addForm.startTime.$error.required">Please enter a start time</span>
              </div>
            </div>
            <div>
              <label for="end-time">End Time:  </label><input type="time" name="endTime" ng-model="endTime" required=""/>
              <div ng-show="addForm.$submitted || addForm.endTime.$touched">
                <span ng-show="addForm.endTime.$error.required">Please enter an end time</span>
              </div>
            </div>
            <div>
              <label for="title">Title:  </label><input type="text" name="title" ng-model="title" required=""/>
              <div ng-show="addForm.$submitted || addForm.title.$touched">
                <span ng-show="addForm.title.$error.required">Please enter a title for this assignment</span>
              </div>
            </div>
            <div>
              <label for="description">Description:  </label><input type="text" name="description" ng-model="description" required=""/>
              <div ng-show="addForm.$submitted || addForm.description.$touched">
                <span ng-show="addForm.description.$error.required">Please enter a description of the duties for this assignment</span>
              </div>
            </div>
            <div>
              <label for="numNeeded">Volunteers Needed:  </label><input type="number" name="numNeeded" ng-model="numNeeded" required=""/>
              <div ng-show="addForm.$submitted || addForm.numNeeded.$touched">
                <span ng-show="addForm.numNeeded.$error.required">Please indicate how many volunteers are needed for this assignment</span>
                <span ng-show="addForm.input.$error.number">Please enter a number for the number of volunteers needed</span>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addEvent()" ng-disabled="addForm.$invalid">Add Event</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Oops..do not add event</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



