$font-stack:    Helvetica, sans-serif;
$primary-color: #blue;

body {
  color: blue;
  background-color: skyblue;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }


.container {
  padding-top: 75px;
}


.navbar-brand {
  margin-left: 25px;
}


#bs-example-navbar-collapse-1 {
  color: black;
  background-color:skyblue;

 }
